.todoList {
  height: 80%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;

  .todoList_h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
    color: white;
    margin: 1em auto;
  }
}
.todoList::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 750px) {
  .todoList {
    width: 90%;
  }
}
