.App {
  height: 100vh;
  background: palegoldenrod;
  background-image: url("../src/images/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
